<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>云账本</title>
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">云账本</div>
    
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <a href="javascript:;">
            <img src="../img/test.jpg" class="layui-nav-img">
            <!--          // 这里 从 session 中获取 username-->
            <span th:text="${session.user.username}"></span>

          </a>
        </a>
        <dl class="layui-nav-child">
          <dd><a th:href="@{/test/pwdUpdata}">更改密码</a></dd>
          <dd><a th:href="@{/index/logout}">退出登录</a></dd>
        </dl>
      </li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">收支管理</a>
          <dl class="layui-nav-child">
            <dd><a th:href="@{/templates/record.html}" target="ifr">收支记录</a></dd>
            <dd><a th:href="@{/templates/result.html}" target="ifr">收支统计</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="../test/userdata">用户管理</a>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <iframe th:src="@{/templates/record.html}" width="100%" height="100%" name="ifr"></iframe>
  </div>
<script th:src="@{/layui/layui.js}"></script>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;

});
</script>
</div>
</body>
</html>